body{
    background-color: white !important;
    /*height: 100% !important;
    min-height: 100% !important;*/
    margin: 0;
    padding: 0 !important;
}

html {
    background-color: white !important;
    height: 100% !important;
    min-height: 100% !important;
    margin: 0;
    padding: 0 !important;
}

body > .header .navbar {
    margin-left: 0 !important;
}

body > .header .logo {
    float: none !important;
    text-align: center !important;
    width: auto !important;
    height: auto !important;
    display: block !important;
}

.skin-black .logo {
    background-color: transparent !important;
}

.skin-black .logo:hover {
    background: transparent !important;
}

.skin-black .navbar {
    background-color: transparent;
}

header.header {
    position: relative !important;
    max-height: none !important;

    background-color: #dcdcdc;

    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #FFFFFF 60%, #ededed);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #FFFFFF 60%, #ededed);
    /* IE 10 */
    background: -ms-linear-gradient(top, #FFFFFF 60%, #ededed);

    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
}

body.fixed .navbar {
    position: relative;
}

body > .header .navbar {
    height: auto !important;
}

.navbar-default {
    background-color: #FFFFFF;
}

.content, .right-side {
    background: #fdfdfd;
}

.navbar-btn.sidebar-toggle {
    display: none;
}

.sonata-bc .breadcrumb {
    float: none !important;
}

.row.row-breadcrumb {
    margin-bottom: 0px !important;
    min-height: 50px !important;
}

.col-md-12.breadcrumb {
    padding: 0;
    margin-left: 5%;
    margin-right: 5%;
}

.right-side {
    margin-left: 5%;
    margin-right: 5%;
}

body.fixed .wrapper {
    margin-top: 0;
}

div.wrapper.row-offcanvas.row-offcanvas-left {
    min-height: initial !important;
    padding-bottom: 35px !important;
}

.page-footer {
    position: fixed;
    bottom:0;
    width: 100%;
    color: whiteSmoke;
    height: 29px;
    line-height: 29px;
    text-align: right;
    padding: 0 40px 0 30px;
    font-weight:bold;

    background-color: #9BDDFF;
    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, left top, right top, from(#9BDDFF), to(#062A78));
    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(left, #9BDDFF, #062A78);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(left, #9BDDFF, #062A78);
    /* IE 10 */
    background: -ms-linear-gradient(left, #9BDDFF, #062A78);
    /* Opera 11.10+ */
    background: -o-linear-gradient(left, #9BDDFF, #062A78);
}

.page-footer .dtic-footer {
    margin-right: 7px;
    height: 17px;
}

.navbar-toggle {
    float: left;
}

.navbar-toggle .icon-bar {
    background: #3c8dbc;
}

.alert-error{
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

/* Switch Bottom*/
.onoffswitch {
    position: relative; width: 75px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 0px solid #999999; border-radius: 0px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner > span {
    display: block; float: left; position: relative; width: 50%; height: 17px; padding: 0; line-height: 17px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner .onoffswitch-active {
    padding-left: 15px;
    background-color: #C2C2C2; color: #FFFFFF;
}
.onoffswitch-inner .onoffswitch-inactive {
    padding-right: 15px;
    background-color: #C2C2C2; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 40px; margin: 0px; text-align: center;
    border: 0px solid #999999;border-radius: 0px;
    position: absolute; top: 0; bottom: 0;
}
.onoffswitch-active .onoffswitch-switch {
    background: #27A1CA; left: 0;
}
.onoffswitch-inactive .onoffswitch-switch {
    background: #A1A1A1; right: 0;
}
.onoffswitch-active .onoffswitch-switch:before {
    content: " "; position: absolute; top: 0; left: 40px;
    border-style: solid; border-color: #27A1CA transparent transparent #27A1CA; border-width: 15px 10px;
}
.onoffswitch-inactive .onoffswitch-switch:before {
    content: " "; position: absolute; top: 0; right: 40px;
    border-style: solid; border-color: transparent #A1A1A1 #A1A1A1 transparent; border-width: 15px 10px;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.switch-buttom {
    float: right;
}

.switch-buttom .onoffswitch-label {
    margin-bottom: 0px;
}

.onoffswitch {
    display: inline-table;
}
/*Inicio niveles de menu*/
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/*Final niveles de menu*/


/* Fin Switch Bottom*/

@media (max-width: 891px) {
    .banner {
        width:100% !important;
    }
}
